
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Admin Ana səhifə</h1>
<p>Bu veb-sayt Dapper ORM-i ilə ASP.NET CORE(MVC) texnelogiyası vasitəsi ilə hazırlanmışdır.</p>


