@model AppUserLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 22%;
            height:5.6cm;
            border-radius:100%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @@media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>
<body>

    <h2>Daxil ol</h2>

    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>İstifadəçi adı</b></label>
            <input type="text" asp-for="UserName" placeholder="İstifadəçi adı"  required>

            <label for="psw"><b>Şifrə</b></label>
            <label for="psw"><b>Şifrə</b></label>
            <input type="password" placeholder="Şifrə" name="psw" required>

            <button type="submit">Daxil ol</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Xatırla məni
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="psw"><a href="#">Şifrəni unutmusuz?</a></span>
        </div>
        <br />
    </form>

</body>
</html>

